
#container {
	min-height: 580px;
}

#content {
	left: 0px;
	top: 10px;
	width: 95%;
	margin: 0px auto;
}

.section {
	min-height: 50px;
	border: 2px solid #57527E;
	background: #CFCFE8;
	padding: 5px;
	overflow: hidden;
	padding-right: 0;
	margin-right: 0;
}

h3 {
	margin: 30px 0 0 0;
	font-size: 1.2em;
	color: #57527E;
}

.section textarea {
	float: left;
	width: 90%;
	overflow-y: scroll;
}

.long {
	width: 90%;
}

.fill_parent {
	width: 90%;
}

td.fill_parent {
	width: 100%;
}

.op {
	height: 55px;
	width: 58px;
	margin: 5px;
	float: left;
	cursor: pointer;
}

.op:hover {
	color: #ccc;
	text-decoration: underline;
}

.label {
	display: inline;
	width: 180px;
	padding: 0 4px 0 0;
}

.tabs h3 {
	display: inline;
	background: #efefef;
	padding: 4px 10px;
	border: 2px solid #57527E;
	border-bottom: 0;
	cursor: pointer;
}

.tabs h3:hover {
	background: #fff;
}

.tabs {
	margin: 30px 0 -5px 0;
}

h3.active_tab {
	background: #CFCFE8;
	border-bottom: 2px solid #CFCFE8;
}

select {
	max-width: 200px;
}


#notification {
	text-align: center;
	padding: 20px 5px;
	position: absolute; 
	top: 35px; 
	width: 95%;
	margin: 0px auto;
	opacity: 0;
	border: 2px solid #333;
	background: #efefef;
}

#notification.success {
	border: 2px solid #00CC66;
	color: #00CC66;
	background: #CCF5E0;
}

#notification.error {
	border: 2px solid #FF9494;
	color: #FF9494;
	background: #FFF4F4;
}
