body {
	font-family: "Maven Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -.1em;
	color: #333;
	font-size: 11pt;
	width: 100%;
}

#container {
	width: 1200px;
	overflow: hidden;
	min-height: 550px;
	margin: 10px auto;
	background: transparent url('../images/bg_v2.png') no-repeat top center;
}

#content {
	position: relative;
	z-index: 5;
	text-align: left;
	width: 500px;
	margin: 0px auto;
	left: 210px;
}
#container {
	background: url('../images/small_bg_v2.png') no-repeat top center;
	margin-left: -80px;
}

#content {
	left: 280px;
	width: 600px;
}


#footer {
	clear: both;
	padding: 20px 0 0 0;
	width: 1200px;
	margin: 20px auto;
	height: 70px;
	text-align: center;
	color: #CFCFE8;
	background: transparent url('../images/footer_bg.png') no-repeat top center;
}

h2, h4 {
	color: #CFCFE8;    
	text-shadow: 0 1px 0 #f3f3f3;
}

h3 {
	text-align: left;
	font-weight: normal;    
	text-shadow: 0 1px 0 #f3f3f3;
}

h4 {
	font-size: 1.4em;
}

h5, th {
	font-size: 11pt;
}

a, a:link {
	text-decoration: none;
	color: #CFCFE8;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

a:visited {
	color: #bbb;
}

#content a:link {
	color: #aaa;
}

.clearfix {
	clear: both;
}

.article, .bio {
	float: left;
	font-size: 12pt;
	word-wrap: break-word;
	text-align: justify;
	line-height: 1.1em;
	width: 100%;
	padding: 15px 4px 10px 4px;
}

.bio {
	text-align: left;
}

.article_preview {
	float: left;
	font-size: 12pt;
	min-width: 460px;
	text-align: left;
	padding: 15px 4px 10px 4px;
}

.details {
	color: #57527E;
	text-align: right;
}

.date, .bio_img, .op {
	margin: 0px auto;
	line-height: 1.5em;
	display: inline;
	text-align: center;
	float: left;
	padding: 10px 5px 0 5px;
	height: 55px;
	width: 75px;
	background: url('../images/bubble.png') no-repeat top center;
	background-size: 65px;
	-moz-background-size: 65px;
	-o-background-size: 65px;
	color: #CFCFE8;
}

.date {
	height: 75px;
}

.bio_img, .op {
	padding-top: 20px;
}

.date_month {
	position: relative;
	top: -5px;
	width: 50px;
	text-align: center;
}

.date_day {
	position: relative;
	top: -3px;
	margin: 0px auto;
	width: 40px;
	display: block;
	font-size: 2em;
	text-align: center;
	font-family: 'Lucida Console', arial;
}

.heavy_purple {
	font-weight: bold;
	color: #57527E;
}

.heavy_grey {
	font-weight: bold;
}

input[type="password"], input[type="search"], 
input[type="text"], input[type="textbox"], 
input[type="textarea"], textarea, input[type="email"] {
	border: 1px #C7C7C7 solid;
	color: #333;
	cursor: pointer;
	padding: 0.1em 0.4em 0.1em 0.4em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: text;
}

#admin_bubble {
	position: fixed;
	z-index: 999;
	top: -30px; 
	padding: 28px;
	left: 8%;
}

#content ul {
	margin: 0 0 0 20px;
}