body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 11pt;
	width: 100%;
	background: #efefef;
}

#container {
	width: 900px;
	min-height: 760px;
	background: #fff;
	margin: 0px auto;
	overflow: hidden;
	border: thin solid #fff;
}

.big_col {
	min-height: 200px;
	text-align: left;
	float: left;
	margin: 0 0 0 0;
}

#footer {
	clear: both;
	padding: 50px 0 0 0;
	width: 900px;
	height: 70px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 0;
	background: url('../images/trim.png') no-repeat top center;
	color: #CFCFE8;
}

#footer img {
}

#col1 {
	height: 600px;
	width: 500px;
	background: url('../images/logo.png') no-repeat top center;
	background-size: 600px;
	position: fixed;
}

#col2 {
	width: 400px;
	position: relative;
	left: 410px;
	margin: 0px auto;
	text-align: center;
}

#nav {
	height: 120px;
	padding: 20px 0;
	background: url('../images/header_bg.png') no-repeat center;
	background-size: 460px;
	width: 460px;
}

h2, h4 {
	font-weight: normal;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #CFCFE8;
}

h4 {
	font-size: 1.4em;
}

h3 {
	text-align: left;
	font-weight: normal;
}

a:link {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

a:visited {
	color: #ccc;
}

.clearfix {
	clear: both;
}

.article, .bio {
	float: left;
	word-wrap: break-word;
	text-align: justify;
	line-height: 1.3em;
	min-width: 590px;
	padding: 15px 4px 10px 4px;
}

.article_preview {
	float: left;
	min-width: 460px;
	text-align: left;
	padding: 15px 4px 10px 4px;
	line-height: 1.1em;
}

.details {
	color: #57527E;
	text-align: right;
}

.date, .bio_img, .op {
	margin: 0px auto;
	line-height: 1.5em;
	display: inline;
	text-align: center;
	float: left;
	padding: 10px 5px 0 5px;
	height: 55px;
	width: 75px;
	background: url('../images/bubble.png') no-repeat top center;
	background-size: 65px;
	color: #CFCFE8;
}

.date {
	height: 75px;
}

.bio_img, .op {
	padding-top: 20px;
}

.date_weekday {
	position: relative;
	z-index: 4;
	left: -22px;
	top: 10px;
	transform:rotate(-90deg);
	-ms-transform:rotate(-15deg); /* IE 9 */
	-moz-transform:rotate(-15deg); /* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari and Chrome */
	-o-transform:rotate(-15deg); /* Opera */
}

.date_month {
	position: relative;
	top: -25px;
	left: 5px;
	width: 50px;
	text-align: center;
}

.date_day {
	position: relative;
	top: -20px;
	left: 5px;
	margin: 0px auto;
	width: 40px;
	display: block;
	font-size: 2em;
	text-align: center;
	font-family: 'Lucida Console', arial;
}

.heavy_purple {
	font-weight: bold;
	color: #57527E;
}

.heavy_grey {
	font-weight: bold;
}

input[type="password"], input[type="search"], input[type="text"], input[type="textbox"], input[type="textarea"], textarea {
	border: 1px #C7C7C7 solid;
	color: #333;
	cursor: pointer;
	padding: 0.1em 0.4em 0.1em 0.4em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: text;
}

#notification {
	margin: 5px auto;
	text-align: center;
	padding: 5px;
	border: 2px solid #333;
	background: #efefef;
}

.success {
	border: 2px solid #00CC66;
	background: #CCF5E0;
}

.error {
	border: 2px solid #FF9494;
	background: #FFF4F4;
}

