#content {
	top: -80px;
}

#view_more {
	text-align: right;
	float: right;
	width: 100%;
	margin-top: -1em;
}

#tagline {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 350px;
	position: relative;
	top: 480px;
	left: 190px;
	padding: 0 0 20px 0;
	font-size: 1.5em;
	background: url('../images/tagline_bg.png') no-repeat bottom center;    
	text-shadow: 0 1px 0 #f3f3f3;
	visibility: hidden;
}

#articles {
	padding: 60px 0 0 0;
	width: 460px;				
	height: 400px;
}

#footer {
	margin-top: -120px;
}