
#nav_links {
	padding: 50px 0 0 20px;
	list-style-type: none;
}

#nav_links li {
	float: left;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	text-align: center;
	color: #CFCFE8;
	text-align: center;
	width: 85px;
}

#nav_links li a {
	color: #CFCFE8;
	padding: 4px 5px;
}

#nav_links li a:hover {
	cursor: pointer;
	text-decoration: none;
	background: #333;
}

.active_tab {
	background: #fff;
}

.hover_tab {
	background: #333;
}

.menu {
	position: absolute;
	z-index: 4;
	font-size: .6em;
	list-style-type: none;
	min-height: 40px;
	width: 130px;
	overflow: hidden;
	border: thick solid #333;
	background: #fff;
}

#nav_links li ul li {
	text-align: left;
	display: block;
	clear: both;
	padding: 4px 0;
	width: inherit;
	border-bottom: 2px solid #CFCFE8;
}

#nav_links li ul li:first-child {
	margin-top: 0;
}

#nav_links li ul li:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}


#nav_links li ul li:hover {
	width: inherit;
	background: #efefef;
}

#nav_links li ul li a {
	border: 0;
}

#nav_links li ul li a:hover {
	width: inherit;
	background: #efefef;
	border: 0;
	text-decoration: underline;
}